<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086846367194-an0laj6qm14i52igvqd818mqt9be666u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086846367194-an0laj6qm14i52igvqd818mqt9be666u</string>
	<key>API_KEY</key>
	<string>AIzaSyDKMHJzJeob0A2PcAUsiugYVQS7N1C4Z1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1086846367194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNotes</string>
	<key>PROJECT_ID</key>
	<string>my-notes-app-633c2</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-app-633c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086846367194:ios:02d56e5284d5f5e455fce3</string>
</dict>
</plist>